services:
  nhl-led-scoreboard:
    image: ghcr.io/falkyre/nhl-led-scoreboard:latest
    command: 
      - "--led-rows=64"
      - "--led-cols=128"
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      - TZ=America/Winnipeg
    ports:
      - 8888:8888
    volumes:
      - './config/config.json:/app/config/config.json'
      - './src/boards/plugins:/app/src/boards/plugins'
      # Persist the installed packages
      - plugin_libs:/home/appuser/.local

volumes:
  plugin_libs:
